* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.contact {
    width: 500px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.contact input {
    display: block;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #226fc1;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
    border: 2px solid #4fb560;   
}

.contact textarea {
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}

.contact input[type="submit"] {
    width: 200px;
    margin: 0 auto;
    background: none;
    border: 1px solid #4fb560;
    color: #4fb560;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

.contact input[type="submit"]:hover {
    background: #4fb560;
    color: #fff;
}
