/* block__element--modifier */
/* 1.Position 2.Display and box model 3.Color 4.Text 5.Other 
6.Animations */

/* --------- General --------- */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul {    list-style: none;}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    overflow: hidden;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

/* --------- Header --------- */

header {
    overflow: hidden;
    width: 100%;
    background: url(../img/bg.jpg) #281a0c;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header .container {
    position: relative;
    height: 600px;
}

.header-nav {   margin-top: 40px;}

.header-nav__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header-nav__items {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    color: #fff;
    font-size: 1.25em;
    font-weight: lighter;
    text-decoration: none;
}

.header-nav__items:hover {  border-bottom: 1px solid #fff;}

.header-content {
    position: absolute;
    top: 50%;
    margin-top: -70px;
    color: #fff;
    transform: translate(0px, 0);
}

.header__title {
    width: 100%;
    font-weight: lighter;
    font-size: 3.1em;
}

.header__title .bold {  font-weight:600;}

.header__text {
    width: 100%;
    font-style: italic;
    font-weight: lighter;
    font-size: 1.55em;
}

/* --------- Main --------- */

main {
    background: url(../img/bg-textura.png);
    background-repeat: repeat;
}

/* --------- About --------- */

.about .container {
    position: relative;
    overflow: visible;
}

.about-photo__container {
    position: absolute;
    left: 0px;
    top: -50px;
    z-index: 0;
    width: 80%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}

.about-photo {
    width: 100%;
    vertical-align: top;
}

.about-content {
    position: relative;
    top: 500px;
    float: right;
    z-index: 1;
    width: 50%;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
}

.about__title {
    color: #000;
    font-weight: normal;
    font-size: 3.1em;
}

.about__text {
    margin-top: 40px;
    color: #000;
    font-weight: lighter;
    line-height: 1.75em;
}

/* --------- Menu --------- */

.menu {
    padding-top: 450px;
    margin-bottom: 50px;
}

.menu__title {
    margin-bottom: 40px;
    color: #000;
    font-weight: lighter;
    font-size: 2.5em;
    text-align: center;
}

.menu__container,
.menu__card {
    overflow: hidden;
    padding: 10px;
    border: 1px solid #000;
    background: transparent;
}

.menu-content {
    float: left;
    width: 50%;
    padding: 20px;
}

.menu-content__category {
    margin-bottom: 40px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.menu-content__plate {
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 4px dotted #000;
}

.menu-content__name {
    float: left;
    margin-bottom: 15px;
    font-size: 1.25em;
}
.menu-content__price {
    float:right;
    margin-bottom: 15px;
    font-size: 1.25em;
}

.menu-content__description {
    clear: both;
    color: #676767;
    font-size: 16px;
}

/* --------- Gallery --------- */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-photo__container {
    width: 25%;
}

.gallery-photo {
    width: 100%;
    vertical-align: top;
    opacity: 0.7;
}

.gallery-photo:hover {
    opacity: 1;
    transition: all 0.3s ease;
}

/* --------- Ubicación --------- */

.location {
    padding: 60px 0px;
    background: #fff;
    overflow: hidden;
}

.location__title {
    margin-bottom: 40px;
    color: #000;
    font-weight: lighter;
    font-size: 2.5em;
    text-align: center;
}

.location-address{
    float: left;
    width: 50%;
    text-align: left;
}

.location-address__street { margin-bottom: 15px;}

.location-schedule {
    float: right;
    overflow: hidden;
    width: 50%;
    text-align: right;
}
.location-schedule__title {
    margin-bottom: 20px;
    text-align: center;
}

.location-schedule__weekdays,
.location-schedule__weekends {
    float: left;
    width: 50%;
    text-align: center;
}

/* --------- Map --------- */

.map {
    overflow: hidden;
    width: 100%;
}

.map iframe {
    width: 100%;
    vertical-align: top;
}

/* --------- Footer --------- */

footer {
    background: #000;
}

.footer-copyright__text {
    padding: 15px 0px;
    color: #fff;
    text-align: center;
}

/* --------- Media Queries --------- */

@media screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }
    header .container {
        position: static;
        height: auto;
    }
    .header-content {
        position: static;
        margin: 100px 0px;
    }

    .header-nav {
        margin-top: 20px;
    }

    .header-nav__menu {
        justify-content: center;
    }

    .about-photo__container {
        position: relative;
        width: 100%;
    }
    
    .about-content {
        position: relative;
        width: 100%;
        top: -50px;
        transform: translate(0px, 0);
    }

    .menu {
        padding-top: 250px;
    }

    .menu-content {width: 100%;}
    .gallery-photo__container {width: 50%;}

    .map {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .about__text {
        margin-top: 10px;
    }

    .location-address {
        margin-bottom: 15px;
    }

    .location-schedule,
    .location-address {
        width: 100%;
        text-align: center;
    }
}